/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
html {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 600;
  color: var(--text-color);
}

/* global class */
.container {
  max-width: 78vw;
  margin: auto;
}

/* mobile css */
@media (max-width: 767px) {
  .container {
    max-width: 100vw;
    padding: 0 22px;
  }
}

/* global fonts css */
h2 {
  font-size: 45px;
  line-height: 64px;
  color: var(--text-color);
  font-weight: var(--regular);
}
h2 span {
  font-weight: var(--bold);
}
h3 {
  color: var(--secondary-color);
  font-size: 20px;
  font-weight: var(--semibold);
}

/* mobile css */
@media (max-width: 767px) {
  h2 {
    font-size: 34px;
    line-height: 42px;
  }
  h3 {
    font-size: 18px;
  }
}

/* tab css */
@media (min-width: 767px) and (max-width: 1100px) {
  h2 {
    font-size: 32px;
    line-height: 44px;
  }
  h3 {
    font-size: 17px;
  }
}

/* cta button */
.cta-btn {
  font-size: 16px;
  font-weight: var(--semibold);
  background-color: var(--primary-color);
  color: white;
  display: inline-block;
  padding: 12px 40px 12px 30px;
  border-radius: 30px;
  transition: background-color ease 0.7s;
}
.cta-btn .fa-chevron-right {
  transform: translate(5px);
  transition: transform ease 0.2s;
}
.cta-btn:hover .fa-chevron-right {
  transform: translate(10px);
}
:root {
  --regular: 600;
  --semibold: 700;
  --bold: 800;
  --text-color: rgb(62, 62, 62);
  --primary-color: #b22222;
  --secondary-color: rgb(0 16 105);
}

/* image ingo layout css */
.info-img-layout {
  position: relative;
}
/* mobile css */
@media (max-width: 767px) {
  .info-img-layout {
    margin-top: 22px;
  }
}

.info-img-layout .flex-wrapper {
  display: flex;
  align-items: center;
  height: 570px;
}
/* mobile css */
@media (max-width: 767px) {
  .info-img-layout .flex-wrapper {
    display: block;
    height: auto;
  }
}

/* tablet css */
@media (min-width: 767px) and (max-width: 1100px) {
  .info-img-layout .flex-wrapper {
    height: 574px;
  }
}
.info-img-layout .flex-wrapper p {
  margin: 24px 0 35px;
}

/* mobile css */
@media (max-width: 767px) {
  .info-img-layout .flex-wrapper p {
    margin: 32px 0 40px;
  }
}
.info-img-layout .flex-wrapper .cta-btn:hover {
  background-color: var(--secondary-color);
}
.info-img-layout .info-wrapper {
  flex: 1.4;
  max-width: 633px;
}

/* tablet css */
@media (min-width: 767px) and (max-width: 1100px) {
  .info-img-layout .info-wrapper {
    max-width: 40dvw;
    padding: 20px 0 0 0;
  }
}
.info-img-layout .img-wrapper {
  flex: 1;
  position: absolute;
  height: 570px;
  top: 0;
  right: 0;
  width: 40%;
}

/* tablet css */
@media (min-width: 767px) and (max-width: 1100px) {
  .info-img-layout .img-wrapper {
    height: 574px;
  }
}
/* mobile css */
@media (max-width: 767px) {
  .info-img-layout .img-wrapper {
    position: static;
    width: auto;
    height: 500px;
    object-fit: cover;
  }
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* info-img-layout position-reset */
.info-img-layout .img-wrapper.position-reset {
  position: static;
  height: 380px;
  display: flex;
  align-items: center;
}

.info-img-layout.with-bg .flex-wrapper {
  height: 570px;
}

/* mobile css */
@media (max-width: 767px) {
  .info-img-layout.with-bg {
    margin: 80px 0;
  }
}

.info-img-layout.with-bg .info-wrapper {
  margin-left: 60px;
}

/* mobile css */
@media (max-width: 767px) {
  .info-img-layout.with-bg .info-wrapper {
    margin-left: 0;
  }
}

/* mobile css */
@media (max-width: 767px) {
  .info-img-layout.with-bg .img-wrapper {
    position: relative;
    margin-bottom: 60px;
  }
}

.info-img-layout.with-bg .img-wrapper::before {
  content: "";
  width: 28%;
  height: 100%;
  background-color: var(--secondary-color);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/* mobile css */
@media (max-width: 767px) {
  .info-img-layout.with-bg .img-wrapper::before {
    left: -20px;
    top: -22px;
    width: 50%;
    height: 112%;
  }
}

.info-img-layout.with-bg {
  margin-bottom: 20px;
}
